body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: rgb(54,69,79);
    overflow: hidden;
}

.main {
    flex: 1;
    padding: 1rem;
}

.firstfooter {
  position: flex;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(54,69,79);
  color: rgb(255, 255, 255);
}

.amazing-text{
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.update-delete{
    width: 100%;
    padding: 10px;
    background-color: rgb(54,69,79);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Centered header text */
.centered-header { 
    text-align: center; 
}

/* General form styling */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

/* Style all input fields */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Style the select dropdown */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Style the submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: rgb(54,69,79);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: lightgray;
    color: rgb(54,69,79);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: grey;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid blueviolet;
}

/* Button styles */
button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(54,69,79);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #e74c3c;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.update-btn {
    background-color: #f1c40f;
}

.update-btn:hover {
    background-color: #f39c12;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: rgb(54,69,79);
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: rgb(54,69,79);
    color: white;
    border: 1px solid rgb(54,69,79);
}

